.row {
	max-width: 100%;
}

body {
	height: 100%;
	background: #2B4866;
}

.header {
	background-image: url("/img/Dhahabu%20Africa%20Logo%20Mod%20Presentation.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	height: 100vh;
}

.intro-text {
	padding-top: 100px;
	padding-bottom: 50px;
}

.intro-text .intro-lead-in {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 25px;
}

.intro-text .intro-heading {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 25px;
}

@media (min-width: 768px) {
	header .intro-text {
		padding-top: 300px;
		padding-bottom: 200px;
	}
	.intro-text .intro-lead-in {
		font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-style: italic;
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 25px;
	}
	.intro-text .intro-heading {
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 75px;
		line-height: 75px;
		margin-bottom: 50px;
	}
}

.w3-sidenav {
	height: 100%;
	width: 200px;
	background-color: gold;
	position: fixed!important;
	z-index: 1;
	overflow: auto;
}
