.row {
    max-width: 100%;
}
body {
    height: 100%;
}
.landing {
    background-image: url(../img/Dhahabu%20Africa%20Logo%20Mod%20Presentation.png);
    background-size: cover;
    height: 100%;
    background-color: #ddb30a;
}
.landing h4 {
    margin-top: 32%;
    margin-left: 40%;
}
.about {
    height: auto;
    background-image: url(../img/ad_branding.jpg);
    height: 80%;
    background-size: cover;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    background-attachment: fixed;
}
.text-box {
    margin-top: 8%;
    margin-bottom: 5%;
}
.para h4 {
    padding: 5%;
    text-align: center;
}
.members {
    padding: 0 10%;
}
* {
    margin: 0;
    padding: 0;
}
#header_nav {
    background: #fff;
    box-shadow: 0px 5% 5% #4b3838;
}
header {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    background: white;
    box-shadow: 4% 4% 5% #000000;
}
nav {
    margin-bottom: 50px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: 4% 4% 5% #000000;
}
ul {
    width: 1000px;
    margin: 0 auto;
}
nav li {
    width: 110px;
    display: inline-block;
    padding: 20px 30px 20px 0;
    &:first-child {
        padding-left: 0;
        margin-left: 0;
    }
    &:nth-child(3) {
        padding-right: 80px;
    }
    &:nth-child(4) {
        padding-left: 80px;
    }
    &:last-child {
        padding-right: 0;
    }
}
#logo {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 5px;
    left: 20%;
    margin: 0 0 0 -40px;
}
.portfolio {
    height: 100%;
    background-image: url(../img/Africa.jpg);
    background-size: cover;
}
